.editForm {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  border-radius: 10px;
  border: 2px solid;

  div.field {
    align-self: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    background: white;

    input {
      margin: 0 4px;
    }
  }
}
